.h2{
    font-family: 'Avenirnextcyr';
    font-weight: 600;
    font-size: 24px;
}

.h3{
    font-family: 'Avenirnextcyr';
    font-weight: 600;
    font-size: 20px;
}

.p{
    font-family: 'Avenirnextcyr';
    font-weight: 400;
    font-size: 16px;
}

.btn{
    font-family: 'Avenirnextcyr';
    font-weight: 600;
    font-size: 16px;
}

.container{
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}

.grid-wrapper{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    min-height: calc(100vh - 138px);
    margin-top: 28px;
}

.content{
    grid-column: 4 / 13;
}
