.wrapper{
    display: flex;
    flex-wrap: wrap;
}

.docblock{
    width: 205px;
    height: 140px;
    border-radius: 15px;
    border: 1px solid #ECEDED;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2;
    margin-bottom: 8px;
    &:hover{
        border-color: #606060;
        img{
            opacity: .9;
        }
    }
}
.docWrapper{
    margin-right: -20px;
    display: flex;
    flex-wrap: wrap;
}
.docCard{
    margin-right: 20px;
    p{
        margin-top: 4px;
    }
    .mute{
        color: #606060;
    }
}
.flex{
    display: flex;
}