.wrapper{
    ul{
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            list-style: none;
            margin: 0;
            padding: 0;
            a{
                text-decoration: none;
                font-size: 18px;
                font-weight: 400;
                color: #606060;
                padding: 5px 0;
                transition: 0.5;
                &.active{
                    background: #4E9B33;
                    border-radius: 8px;
                    padding: 5px 20px;
                    color: #fff;
                }
            }
            &:not(:last-child){
                margin-right: 28px;
            }
        }
    }
}