.table{
    th{
        font-weight: 400;
        padding: 10px 16px;
        text-align: left;
        &:not(:first-child){
            border-left: 1px solid #ECEDED;
        }
    }
    thead{
        th{
            border-bottom: 1px solid #ECEDED;

            small {
                font-size: 12px;
                opacity: .6;
                color: black;
                display: block;
            }
        }
    }
}
.week{
    color: #606060;
    margin-bottom: 20px;
}