.wrapper{
    display: flex;
    flex-wrap: wrap;
}

.backTo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    display: block;
    margin-bottom: 24px;
    img{
        text-decoration: none;
        margin-right: 12px;
    }
}

.Title{
    font-weight: 400;
    font-size: 18px;
    display: flex;
    align-items: center;
    span{
        font-weight: 400;
        font-size: 18px;
        cursor: pointer;
        margin-left: 20px;
        &:first-child{
            color: #4E9B33;
        }
        &:last-child{
            color: #F04618;
        }
    }
}