.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    border-bottom: 1px solid #ECEDED;

    .logo {
        max-width: 190px;
    }

    .btnLogOut {
        padding: 12px 64px;
        display: block;
        font-style: 18px;
        font-weight: 600;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        font-size: 18px;
        font-family: 'Avenirnextcyr';
        li{
            list-style: none;
            a{
                text-decoration: none;
                display: block;
                padding: 0 14px;
                color: #606060;
                font-weight: 400;
                &.activeLink{
                    font-weight: 450;
                    color: #4E9B33;
                }
            }
        }
    }
}